@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap";
*{
  box-sizing:border-box;
}

body,html{
  margin:0;
  padding:0;
  height:5000px;
  scroll-behavior: smooth;
}

header{
  background:url(bg.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  height:100vh;
  position: relative;
}

header .navbar .nav{
  margin:auto;
  padding:20px 0;
  list-style:none;
  width:800px;
  background-color:#FFF;
  text-align:center;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

header .navbar .nav .nav-item{
  margin:0 20px;
  display: inline-block
}

header .navbar .nav .nav-item .nav-link{
  text-decoration:none;
  font-family:"Montserrat",sans-serif;
  font-weight:600;
  text-transform:uppercase;
  color:#d8d8d88a;
  font-size:14px;
  transition:.5s;
  display: inline-block;
}

header .navbar .nav .nav-item.active .nav-link{
  color:#1a42a1;
  transform:scale(1.2);
  position:relative;
}

header .navbar .nav .nav-item .nav-link:after{
  content:"";
  position:absolute;
  width:0;
  height:2px;
  top:20px;
  left:0;
  background-color:#1a42a1;
  transition:.5s;
}

header .navbar .nav .nav-item:hover .nav-link:after,header .navbar .nav .nav-item.active .nav-link:after{
  width:100%;
}

header .navbar .nav .nav-item:hover .nav-link{
  color:#1a42a1;
  transform:scale(1.2);
}

header .content{
  position:absolute;
  left:100px;
  top:40%;
  transform: translateY(-50%);
}

header .content h1{
  font-size:50px;
  font-family:"Montserrat",sans-serif;
  color:#fff;
}

header .content  p{
  font-size:30px;
  font-family:"Montserrat",sans-serif;
  color:#fff;
}

header span.slide{
  position:absolute;
  left:50%;
  bottom:20px;
  transform:translateX(-50%);
  color:rgba(255,255,255,0.6);
  /* background-color:rgba(255,255,255,0.6); */
  padding:10px;
  border-radius:50%;
  animation:slide 1s linear infinite;
}

header span.slide i{
  font-size:20px;
  cursor:pointer;
}

@keyframes slide{
  0%{
    color:rgba(255,255,255,0.6);
    bottom:20px;
  }
  50%{
    color:rgba(255,255,255,1);
    bottom:10px;
  }
  100%{
    color:rgba(255,255,255,0.6);
    bottom:20px;
  }
}